In [15]:
#%load_ext pycodestyle_magic
#%pycodestyle_on

In [16]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [17]:
salaire = pd.read_csv("data/promotion.csv", delimiter=";")
formation = pd.read_csv("data/formation.csv", delimiter = ";")
absence = pd.read_csv("data/absences.csv", delimiter=";")
effectif = pd.read_csv("data/effectifs.csv", delimiter=";")
autrescdt = pd.read_csv("data/working_conditions.csv", delimiter=";")

In [18]:
effectif_age= effectif.dropna(subset=["Tranche d'âge"], how="any")

In [19]:
print(effectif_age.columns)

Index(['Année', 'Perimètre juridique', 'Perimètre spatial',
       'Spatial perimeter', 'Indicateur', 'Indicator', 'Type de contrat',
       'Type of contract', 'Collège', 'Employee category',
       'Sous-catégorie collège', 'Employee subcategory', 'Genre', 'Gender',
       'Plage M3E', 'M3E classification', 'Nationalité', 'Nationality',
       'Ancienneté', 'Seniority', 'Tranche d'âge', 'Age bracket', 'Valeur',
       'Unité', 'Unit', 'Chapitre du bilan social'],
      dtype='object')

In [20]:
effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("61 ans et plus","De 61 ans à plus")
effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("Moins de 25 ans","De 16 à 25 ans")

C:\Users\martc\AppData\Local\Temp\ipykernel_12160\1107665257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("61 ans et plus","De 61 ans à plus")
C:\Users\martc\AppData\Local\Temp\ipykernel_12160\1107665257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("Moins de 25 ans","De 16 à 25 ans")

In [21]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
effectif_age=effectif_age[effectif_age["Type de contrat"] == "Statutaires"]
effectif_age=effectif_age.drop(columns= ['Perimètre juridique', 'Perimètre spatial',
                                  'Spatial perimeter', 'Indicator', 'Type of contract',
                                  'Employee category',
                                  'Nationality', 'Seniority', 'Employee subcategory',
                                  'M3E classification', "Plage M3E", "Ancienneté",
                                  "Unité", "Chapitre du bilan social"
                                 ])
effectif_age=effectif_age[effectif_age["Indicateur"] == "Effectif"]
effectif_age=effectif_age.rename(columns={"Valeur":"Nombre de salariés"})
effectif_age=effectif_age.groupby(['Année', 'Collège', 'Genre'])["Nombre de salariés"].sum().reset_index()

In [22]:
effectif_age.head(10)

   Année    Collège  Genre  Nombre de salariés
0   2017      Cadre  Femme              8406.0
1   2017      Cadre  Homme             20462.0
2   2017  Exécution  Femme              1822.0
3   2017  Exécution  Homme              2811.0
4   2017   Maîtrise  Femme              8444.0
5   2017   Maîtrise  Homme             20294.0
6   2018      Cadre  Femme              8419.0
7   2018      Cadre  Homme             20166.0
8   2018  Exécution  Femme              1630.0
9   2018  Exécution  Homme              2657.0

In [23]:
effectif_age_f=effectif_age[effectif_age["Genre"] == "Femme"]
effectif_age_h=effectif_age[effectif_age["Genre"] == "Homme"]
effectif_total = pd.merge(effectif_age_f, effectif_age_h, on=['Année', 'Collège'], how='inner')
effectif_total.head(10)
effectif_total["proportion de femmes"]=effectif_total["Nombre de salariés_x"]/(effectif_total["Nombre de salariés_x"]+effectif_total["Nombre de salariés_y"])

In [24]:
effectif_total.head(20)

,Année,Collège,Genre_x,Nombre de salariés_x,Genre_y,Nombre de salariés_y,proportion de femmes
0,2017,Cadre,Femme,8406.0,Homme,20462.0,0.291187
1,2017,Exécution,Femme,1822.0,Homme,2811.0,0.393266
2,2017,Maîtrise,Femme,8444.0,Homme,20294.0,0.293827
3,2018,Cadre,Femme,8419.0,Homme,20166.0,0.294525
4,2018,Exécution,Femme,1630.0,Homme,2657.0,0.380219
5,2018,Maîtrise,Femme,8086.0,Homme,19840.0,0.289551
6,2019,Cadre,Femme,8486.0,Homme,19973.0,0.298183
7,2019,Exécution,Femme,1401.0,Homme,2407.0,0.367910
8,2019,Maîtrise,Femme,7718.0,Homme,19387.0,0.284745
9,2020,Cadre,Femme,8625.0,Homme,20057.0,0.300711
10,2020,Exécution,Femme,1256.0,Homme,2227.0,0.360609
11,2020,Maîtrise,Femme,7429.0,Homme,19219.0,0.278783
12,2021,Cadre,Femme,8731.0,Homme,20173.0,0.302069
13,2021,Exécution,Femme,1132.0,Homme,2163.0,0.343551
14,2021,Maîtrise,Femme,7240.0,Homme,19126.0,0.274596
15,2022,Cadre,Femme,9003.0,Homme,20595.0,0.304176
16,2022,Exécution,Femme,1067.0,Homme,2223.0,0.324316
17,2022,Maîtrise,Femme,7173.0,Homme,19272.0,0.271242
18,2023,Cadre,Femme,9357.0,Homme,21273.0,0.305485
19,2023,Exécution,Femme,1068.0,Homme,2277.0,0.319283

In [25]:
effectif_total=effectif_total.rename(columns={"Nombre de salariés_x":"Nombre de salariés femme"})
effectif_total=effectif_total.rename(columns={"Nombre de salariés_y":"Nombre de salariés homme"})
effectif_total=effectif_total.drop(columns=["Genre_x", "Genre_y"])

In [26]:
effectif_total.head(30)

,Année,Collège,Nombre de salariés femme,Nombre de salariés homme,proportion de femmes
0,2017,Cadre,8406.0,20462.0,0.291187
1,2017,Exécution,1822.0,2811.0,0.393266
2,2017,Maîtrise,8444.0,20294.0,0.293827
3,2018,Cadre,8419.0,20166.0,0.294525
4,2018,Exécution,1630.0,2657.0,0.380219
5,2018,Maîtrise,8086.0,19840.0,0.289551
6,2019,Cadre,8486.0,19973.0,0.298183
7,2019,Exécution,1401.0,2407.0,0.367910
8,2019,Maîtrise,7718.0,19387.0,0.284745
9,2020,Cadre,8625.0,20057.0,0.300711
10,2020,Exécution,1256.0,2227.0,0.360609
11,2020,Maîtrise,7429.0,19219.0,0.278783
12,2021,Cadre,8731.0,20173.0,0.302069
13,2021,Exécution,1132.0,2163.0,0.343551
14,2021,Maîtrise,7240.0,19126.0,0.274596
15,2022,Cadre,9003.0,20595.0,0.304176
16,2022,Exécution,1067.0,2223.0,0.324316
17,2022,Maîtrise,7173.0,19272.0,0.271242
18,2023,Cadre,9357.0,21273.0,0.305485
19,2023,Exécution,1068.0,2277.0,0.319283
20,2023,Maîtrise,7237.0,19539.0,0.270279

In [27]:
prop_cadre=effectif_total[effectif_total["Collège"] == "Cadre"]
prop_execution=effectif_total[effectif_total["Collège"] == "Exécution"]
prop_maitrise=effectif_total[effectif_total["Collège"] == "Maîtrise"]

In [92]:
absence = pd.read_csv("data/absences.csv", delimiter=";")

In [93]:
absence["Indicateur"]=absence["Indicateur"].str.replace("Absence pour congé de maternité ou d'adoption","Absence pour congé de maternité")
absence["Indicateur"]=absence["Indicateur"].str.replace("Absence pour congé de paternité et d'accueil de l'enfant","Absence pour congé de paternité")
absence=absence[absence["Type de contrat"] == "Statutaires"]
absence=absence.drop(columns=["Perimètre juridique", "Perimètre spatial", "Spatial perimeter", "Indicator", "Type of contract", "Type de contrat",
                              "Employee category", "Genre", "Gender", "Unité", "Unit", "Chapitre du bilan social"])

In [94]:

absence_pat=absence[absence["Indicateur"] == "Absence pour congé de paternité"]
absence_mat=absence[absence["Indicateur"] == "Absence pour congé de maternité"]

In [95]:
absence_mat=pd.merge(absence_mat,effectif_total, on=["Année", "Collège"])[["Année", "Indicateur", "Collège", "Valeur", "Nombre de salariés femme"]]
absence_pat=pd.merge(absence_pat,effectif_total, on=["Année", "Collège"])[["Année", "Indicateur", "Collège", "Valeur", "Nombre de salariés homme"]]

In [96]:
absence_mat["Nombre d'heures moyen de congé maternité par salariée"]=absence_mat["Valeur"]/absence_mat["Nombre de salariés femme"]
absence_mat=absence_mat.drop(columns=["Indicateur", "Valeur", "Nombre de salariés femme"])
absence_pat["Nombre d'heures moyen de congé paternité par salarié"]=absence_pat["Valeur"]/absence_pat["Nombre de salariés homme"]
absence_pat=absence_pat.drop(columns=["Indicateur", "Valeur", "Nombre de salariés homme"])

In [97]:
absence_congé_matpat=pd.merge(absence_mat, absence_pat, on=["Année", "Collège"])

In [100]:
absence_congé_matpat["Ecart en pourcentage du temps d'absence pour congé maternité/paternité"]=absence_congé_matpat["Nombre d\'heures moyen de congé paternité par salarié"]/(absence_congé_matpat["Nombre d\'heures moyen de congé maternité par salariée"]+absence_congé_matpat["Nombre d\'heures moyen de congé paternité par salarié"])

In [101]:
absence_congé_matpat

,Année,Collège,Nombre d'heures moyen de congé maternité par salariée,Nombre d'heures moyen de congé paternité par salarié,Ecart en pourcentage du temps d'absence pour congé maternité/paternité
0,2023,Cadre,31.039543,4.969539,0.138008
1,2023,Maîtrise,22.062733,6.291417,0.221887
2,2023,Exécution,26.012172,7.891963,0.232773
3,2022,Cadre,34.570032,5.398495,0.135069
4,2022,Exécution,29.880037,6.452991,0.177607
5,2022,Maîtrise,24.608253,6.951536,0.220266
6,2021,Exécution,39.167845,5.386038,0.120888
7,2021,Cadre,34.760967,4.377286,0.111842
8,2021,Maîtrise,28.261326,4.905051,0.147892
9,2020,Cadre,39.139246,3.029965,0.071853
10,2020,Maîtrise,26.765648,3.116187,0.104284
11,2020,Exécution,35.198248,3.898069,0.099704
12,2019,Maîtrise,28.471884,3.332542,0.104782
13,2019,Exécution,39.540328,4.026174,0.092414
14,2019,Cadre,41.899599,2.925299,0.065261
15,2018,Exécution,45.879141,3.322168,0.067522
16,2018,Maîtrise,27.297551,3.363155,0.109689
17,2018,Cadre,42.510868,2.812159,0.062047
18,2017,Maîtrise,28.211511,3.251503,0.103344
19,2017,Cadre,40.309779,2.869905,0.066464
20,2017,Exécution,58.680022,3.916044,0.062561

In [151]:
tempspartiel = autrescdt[autrescdt["Indicateur"] == "Salariés à temps partiel en décembre"]
tempspartiel = tempspartiel[tempspartiel["Type de contrat"] == "Statutaires"]
tempspartiel = tempspartiel.drop(columns=["Perimètre juridique", "Perimètre spatial", "Spatial perimeter", "Indicator", "Type of contract", "Type de contrat",
                              "Employee category", "Gender", "Unité", "Unit", "Chapitre du bilan social", "Tranche horaire", "Time range"])
tempspartiel = tempspartiel.groupby(["Année", "Collège", "Genre"]).sum().reset_index().drop(columns=["Indicateur"])
tempspartiel["Collège"] = tempspartiel["Collège"].str.replace("Execution", "Exécution")
tempspartiel["Collège"] = tempspartiel["Collège"].str.replace("Maitrise", "Maîtrise")

In [161]:
tempspartiel_homme=tempspartiel[tempspartiel["Genre"] == "Homme"]
tempspartiel_femme=tempspartiel[tempspartiel["Genre"] == "Femme"]
tempspartiel_merge=pd.merge(tempspartiel_femme, tempspartiel_homme, on=["Année", "Collège"])

In [162]:
tempspartiel_merge = tempspartiel_merge.rename(columns={"Valeur_x":"Nombre de salariées femme en temps partiels","Valeur_y":"Nombre de salariés homme en temps partiels"})
tempspartiel_merge = tempspartiel_merge.drop(columns=["Genre_x", "Genre_y"])

In [165]:
temps_partiel=pd.merge(tempspartiel_merge, effectif_total, on=["Année", "Collège"])
temps_partiel=temps_partiel.drop(columns = ["proportion de femmes"])
temps_partiel["Proportion de femmes en temps partiels"]=100*temps_partiel["Nombre de salariées femme en temps partiels"]/temps_partiel["Nombre de salariés femme"]
temps_partiel["Proportion d'hommes en temps partiels"]=100*temps_partiel["Nombre de salariés homme en temps partiels"]/temps_partiel["Nombre de salariés homme"]

In [169]:
temps_partiel = temps_partiel.drop(columns = ["Nombre de salariées femme en temps partiels", "Nombre de salariés homme en temps partiels", "Nombre de salariés femme",
                             "Nombre de salariés homme"])

In [170]:
temps_partiel

,Année,Collège,Proportion de femmes en temps partiels,Proportion d'hommes en temps partiels
0,2017,Cadre,2.022365,0.425178
1,2017,Exécution,29.473106,2.027748
2,2017,Maîtrise,12.955945,1.463487
3,2018,Cadre,2.007364,0.406625
4,2018,Exécution,32.208589,2.107640
5,2018,Maîtrise,13.245115,1.476815
6,2019,Cadre,2.015084,0.440595
7,2019,Exécution,33.690221,2.285002
8,2019,Maîtrise,13.552734,1.428792
9,2020,Cadre,1.959420,0.393877
10,2020,Exécution,32.245223,2.110463
11,2020,Maîtrise,12.922331,1.352828
12,2021,Cadre,1.786737,0.371784
13,2021,Exécution,30.477032,1.941748
14,2021,Maîtrise,11.975138,1.328035
15,2022,Cadre,1.888259,0.388444
16,2022,Exécution,27.553889,1.889339
17,2022,Maîtrise,11.459640,1.219386
18,2023,Cadre,1.752699,0.460678
19,2023,Exécution,24.063670,1.756697
20,2023,Maîtrise,11.344480,1.125953