In [1]:
#%load_ext pycodestyle_magic
#%pycodestyle_on

In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
salaire = pd.read_csv("promotion.csv", delimiter=";")
formation = pd.read_csv("formation.csv", delimiter = ";")
absence = pd.read_csv("absences.csv", delimiter=";")
effectif = pd.read_csv("effectifs.csv", delimiter=";")
autrescdt = pd.read_csv("autrescdt.csv", delimiter=";")

In [3]:
effectif

,Année,Perimètre juridique,Perimètre spatial,Spatial perimeter,Indicateur,Indicator,Type de contrat,Type of contract,Collège,Employee category,...,Nationalité,Nationality,Ancienneté,Seniority,Tranche d'âge,Age bracket,Valeur,Unité,Unit,Chapitre du bilan social
0,2023,EDF SA,France,France,Effectif,Workforce,Non statutaires CDI,Permanent non-staturory,Cadre,Managers,...,NaN,NaN,NaN,NaN,Moins de 25 ans,Less than 25,9.0,nombre,number,§1.1.6
1,2023,EDF SA,France,France,Effectif,Workforce,Non statutaires CDD,Fixed-term non-statutory,Cadre,Managers,...,NaN,NaN,NaN,NaN,Moins de 25 ans,Less than 25,19.0,nombre,number,§1.1.6
2,2023,EDF SA,France,France,Effectif,Workforce,Non statutaires CDD,Fixed-term non-statutory,Maîtrise,Supervisors,...,NaN,NaN,NaN,NaN,Moins de 25 ans,Less than 25,683.0,nombre,number,§1.1.6
3,2023,EDF SA,France,France,Effectif,Workforce,Non statutaires CDD,Fixed-term non-statutory,Exécution,Operatives,...,NaN,NaN,NaN,NaN,Moins de 25 ans,Less than 25,1216.0,nombre,number,§1.1.6
4,2023,EDF SA,France,France,Effectif,Workforce,Statutaires,Statutory,Cadre,Managers,...,NaN,NaN,NaN,NaN,De 25 à 35 ans,From 25 to 35,2046.0,nombre,number,§1.1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2317,2017,EDF SA,France,France,Embauches de salariés de moins de 25 ans,Hires of Employees Under 25 Years Old,Non statutaires CDD,Fixed-term non-statutory,Exécution,Operatives,...,NaN,NaN,NaN,NaN,NaN,NaN,367.0,nombre,number,§1.3.3
2318,2017,EDF SA,France,France,Démissions,Resignations,Statutaires,Statutory,Cadre,Managers,...,NaN,NaN,NaN,NaN,NaN,NaN,87.0,nombre,number,§1.4.2
2319,2017,EDF SA,France,France,Démissions,Resignations,Statutaires,Statutory,Maîtrise,Supervisors,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,nombre,number,§1.4.2
2320,2017,EDF SA,France,France,Démissions,Resignations,Non statutaires CDI,Permanent non-staturory,Maîtrise,Supervisors,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,nombre,number,§1.4.2
2321,2017,EDF SA,France,France,Démissions,Resignations,Non statutaires CDI,Permanent non-staturory,Maîtrise,Supervisors,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,nombre,number,§1.4.2

In [94]:
effectif_age= effectif.dropna(subset=["Tranche d'âge"], how="any")

In [20]:
print(effectif_age.columns)

Index(['Année', 'Perimètre juridique', 'Perimètre spatial',
       'Spatial perimeter', 'Indicateur', 'Indicator', 'Type de contrat',
       'Type of contract', 'Collège', 'Employee category',
       'Sous-catégorie collège', 'Employee subcategory', 'Genre', 'Gender',
       'Plage M3E', 'M3E classification', 'Nationalité', 'Nationality',
       'Ancienneté', 'Seniority', 'Tranche d'âge', 'Age bracket', 'Valeur',
       'Unité', 'Unit', 'Chapitre du bilan social'],
      dtype='object')

In [95]:
effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("61 ans et plus","De 61 ans à plus")
effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("Moins de 25 ans","De 16 à 25 ans")

C:\Users\martc\AppData\Local\Temp\ipykernel_15932\1107665257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("61 ans et plus","De 61 ans à plus")
C:\Users\martc\AppData\Local\Temp\ipykernel_15932\1107665257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("Moins de 25 ans","De 16 à 25 ans")

In [96]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
effectif_age=effectif_age[effectif_age["Type de contrat"] == "Statutaires"]
effectif_age=effectif_age.drop(columns= ['Perimètre juridique', 'Perimètre spatial',
                                  'Spatial perimeter', 'Indicator', 'Type of contract',
                                  'Employee category',
                                  'Nationality', 'Seniority', 'Employee subcategory',
                                  'M3E classification', "Plage M3E", "Ancienneté",
                                  "Unité", "Chapitre du bilan social"
                                 ])
effectif_age=effectif_age[effectif_age["Indicateur"] == "Effectif"]
effectif_age=effectif_age.rename(columns={"Valeur":"Nombre de salariés"})
effectif_age=effectif_age.groupby(['Année', 'Collège', 'Genre'])["Nombre de salariés"].sum().reset_index()

In [97]:
effectif_age.head(10)

   Année    Collège  Genre  Nombre de salariés
0   2017      Cadre  Femme              8406.0
1   2017      Cadre  Homme             20462.0
2   2017  Exécution  Femme              1822.0
3   2017  Exécution  Homme              2811.0
4   2017   Maîtrise  Femme              8444.0
5   2017   Maîtrise  Homme             20294.0
6   2018      Cadre  Femme              8419.0
7   2018      Cadre  Homme             20166.0
8   2018  Exécution  Femme              1630.0
9   2018  Exécution  Homme              2657.0

In [119]:
effectif_age_f=effectif_age[effectif_age["Genre"] == "Femme"]
effectif_age_h=effectif_age[effectif_age["Genre"] == "Homme"]
effectif_total = pd.merge(effectif_age_f, effectif_age_h, on=['Année', 'Collège'], how='inner')
effectif_total.head(10)
effectif_total["proportion de femmes"]=effectif_total["Nombre de salariés_x"]/(effectif_total["Nombre de salariés_x"]+effectif_total["Nombre de salariés_y"])

In [114]:
effectif_total.head(20)

,Année,Collège,Genre_x,Nombre de salariés_x,Genre_y,Nombre de salariés_y,proportion de femmes
0,2017,Cadre,Femme,8406.0,Homme,20462.0,0.291187
1,2017,Exécution,Femme,1822.0,Homme,2811.0,0.393266
2,2017,Maîtrise,Femme,8444.0,Homme,20294.0,0.293827
3,2018,Cadre,Femme,8419.0,Homme,20166.0,0.294525
4,2018,Exécution,Femme,1630.0,Homme,2657.0,0.380219
5,2018,Maîtrise,Femme,8086.0,Homme,19840.0,0.289551
6,2019,Cadre,Femme,8486.0,Homme,19973.0,0.298183
7,2019,Exécution,Femme,1401.0,Homme,2407.0,0.367910
8,2019,Maîtrise,Femme,7718.0,Homme,19387.0,0.284745
9,2020,Cadre,Femme,8625.0,Homme,20057.0,0.300711
10,2020,Exécution,Femme,1256.0,Homme,2227.0,0.360609
11,2020,Maîtrise,Femme,7429.0,Homme,19219.0,0.278783
12,2021,Cadre,Femme,8731.0,Homme,20173.0,0.302069
13,2021,Exécution,Femme,1132.0,Homme,2163.0,0.343551
14,2021,Maîtrise,Femme,7240.0,Homme,19126.0,0.274596
15,2022,Cadre,Femme,9003.0,Homme,20595.0,0.304176
16,2022,Exécution,Femme,1067.0,Homme,2223.0,0.324316
17,2022,Maîtrise,Femme,7173.0,Homme,19272.0,0.271242
18,2023,Cadre,Femme,9357.0,Homme,21273.0,0.305485
19,2023,Exécution,Femme,1068.0,Homme,2277.0,0.319283

In [120]:
effectif_total=effectif_total.rename(columns={"Nombre de salariés_x":"Nombre de salariés femme"})
effectif_total=effectif_total.rename(columns={"Nombre de salariés_y":"Nombre de salariés homme"})
effectif_total=effectif_total.drop(columns=["Genre_x", "Genre_y"])

In [128]:
effectif_total.head(30)

,Année,Collège,Nombre de salariés femme,Nombre de salariés homme,proportion de femmes
0,2017,Cadre,8406.0,20462.0,0.291187
1,2017,Exécution,1822.0,2811.0,0.393266
2,2017,Maîtrise,8444.0,20294.0,0.293827
3,2018,Cadre,8419.0,20166.0,0.294525
4,2018,Exécution,1630.0,2657.0,0.380219
5,2018,Maîtrise,8086.0,19840.0,0.289551
6,2019,Cadre,8486.0,19973.0,0.298183
7,2019,Exécution,1401.0,2407.0,0.367910
8,2019,Maîtrise,7718.0,19387.0,0.284745
9,2020,Cadre,8625.0,20057.0,0.300711
10,2020,Exécution,1256.0,2227.0,0.360609
11,2020,Maîtrise,7429.0,19219.0,0.278783
12,2021,Cadre,8731.0,20173.0,0.302069
13,2021,Exécution,1132.0,2163.0,0.343551
14,2021,Maîtrise,7240.0,19126.0,0.274596
15,2022,Cadre,9003.0,20595.0,0.304176
16,2022,Exécution,1067.0,2223.0,0.324316
17,2022,Maîtrise,7173.0,19272.0,0.271242
18,2023,Cadre,9357.0,21273.0,0.305485
19,2023,Exécution,1068.0,2277.0,0.319283
20,2023,Maîtrise,7237.0,19539.0,0.270279

In [122]:
prop_cadre=effectif_total[effectif_total["Collège"] == "Cadre"]
prop_execution=effectif_total[effectif_total["Collège"] == "Exécution"]
prop_maitrise=effectif_total[effectif_total["Collège"] == "Maîtrise"]

In [127]:
effe

,Année,Collège,Nombre de salariés femme,Nombre de salariés homme,proportion de femmes
2,2017,Maîtrise,8444.0,20294.0,0.293827
5,2018,Maîtrise,8086.0,19840.0,0.289551
8,2019,Maîtrise,7718.0,19387.0,0.284745
11,2020,Maîtrise,7429.0,19219.0,0.278783
14,2021,Maîtrise,7240.0,19126.0,0.274596
17,2022,Maîtrise,7173.0,19272.0,0.271242
20,2023,Maîtrise,7237.0,19539.0,0.270279

In [13]:
demission=effectif.dropna(subset=["Tranche d'âge"])
demission=demission[demission["Type de contrat"] == "Statutaires"]
demission=demission.drop(columns= ['Perimètre juridique', 'Perimètre spatial',
                                  'Spatial perimeter', 'Indicator', 'Type of contract',
                                  'Employee category', 
                                  'Nationality', 'Seniority', 'Employee subcategory',
                                  'M3E classification', "Plage M3E", "Ancienneté",
                                  "Unité", "Chapitre du bilan social"
                                 ])
demission=demission[demission["Indicateur"] == "Démissions	"]
demission=demission.groupby(["Année", "Collège", "Genre"]).sum().reset_index()
demission

Empty DataFrame
Columns: [Année, Collège, Genre, Indicateur, Type de contrat, Sous-catégorie collège, Gender, Nationalité, Tranche d'âge, Age bracket, Valeur, Unit]
Index: []