In [84]:
#%load_ext pycodestyle_magic
#%pycodestyle_on

In [85]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [86]:
salaire = pd.read_csv("data/promotion.csv", delimiter=";")
formation = pd.read_csv("data/formation.csv", delimiter = ";")
absence = pd.read_csv("data/absences.csv", delimiter=";")
effectif = pd.read_csv("data/effectifs.csv", delimiter=";")
autrescdt = pd.read_csv("data/working_conditions.csv", delimiter=";")

In [87]:
effectif_age= effectif.dropna(subset=["Tranche d'âge"], how="any")

In [88]:
print(effectif_age.columns)

Index(['Année', 'Perimètre juridique', 'Perimètre spatial',
       'Spatial perimeter', 'Indicateur', 'Indicator', 'Type de contrat',
       'Type of contract', 'Collège', 'Employee category',
       'Sous-catégorie collège', 'Employee subcategory', 'Genre', 'Gender',
       'Plage M3E', 'M3E classification', 'Nationalité', 'Nationality',
       'Ancienneté', 'Seniority', 'Tranche d'âge', 'Age bracket', 'Valeur',
       'Unité', 'Unit', 'Chapitre du bilan social'],
      dtype='object')

In [89]:
effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("61 ans et plus","De 61 ans à plus")
effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("Moins de 25 ans","De 16 à 25 ans")

C:\Users\martc\AppData\Local\Temp\ipykernel_14144\1107665257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("61 ans et plus","De 61 ans à plus")
C:\Users\martc\AppData\Local\Temp\ipykernel_14144\1107665257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  effectif_age["Tranche d\'âge"]=effectif_age["Tranche d\'âge"].str.replace("Moins de 25 ans","De 16 à 25 ans")

In [90]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
effectif_age=effectif_age[effectif_age["Type de contrat"] == "Statutaires"]
effectif_age=effectif_age.drop(columns= ['Perimètre juridique', 'Perimètre spatial',
                                  'Spatial perimeter', 'Indicator', 'Type of contract',
                                  'Employee category',
                                  'Nationality', 'Seniority', 'Employee subcategory',
                                  'M3E classification', "Plage M3E", "Ancienneté",
                                  "Unité", "Chapitre du bilan social"
                                 ])
effectif_age=effectif_age[effectif_age["Indicateur"] == "Effectif"]
effectif_age=effectif_age.rename(columns={"Valeur":"Nombre de salariés"})
effectif_age=effectif_age.groupby(['Année', 'Collège', 'Genre'])["Nombre de salariés"].sum().reset_index()

In [91]:
effectif_age.head(10)

   Année    Collège  Genre  Nombre de salariés
0   2017      Cadre  Femme              8406.0
1   2017      Cadre  Homme             20462.0
2   2017  Exécution  Femme              1822.0
3   2017  Exécution  Homme              2811.0
4   2017   Maîtrise  Femme              8444.0
5   2017   Maîtrise  Homme             20294.0
6   2018      Cadre  Femme              8419.0
7   2018      Cadre  Homme             20166.0
8   2018  Exécution  Femme              1630.0
9   2018  Exécution  Homme              2657.0

In [92]:
effectif_age_f=effectif_age[effectif_age["Genre"] == "Femme"]
effectif_age_h=effectif_age[effectif_age["Genre"] == "Homme"]
effectif_total = pd.merge(effectif_age_f, effectif_age_h, on=['Année', 'Collège'], how='inner')
effectif_total.head(10)
effectif_total["proportion de femmes"]=effectif_total["Nombre de salariés_x"]/(effectif_total["Nombre de salariés_x"]+effectif_total["Nombre de salariés_y"])

In [93]:
effectif_total.head(20)

,Année,Collège,Genre_x,Nombre de salariés_x,Genre_y,Nombre de salariés_y,proportion de femmes
0,2017,Cadre,Femme,8406.0,Homme,20462.0,0.291187
1,2017,Exécution,Femme,1822.0,Homme,2811.0,0.393266
2,2017,Maîtrise,Femme,8444.0,Homme,20294.0,0.293827
3,2018,Cadre,Femme,8419.0,Homme,20166.0,0.294525
4,2018,Exécution,Femme,1630.0,Homme,2657.0,0.380219
5,2018,Maîtrise,Femme,8086.0,Homme,19840.0,0.289551
6,2019,Cadre,Femme,8486.0,Homme,19973.0,0.298183
7,2019,Exécution,Femme,1401.0,Homme,2407.0,0.367910
8,2019,Maîtrise,Femme,7718.0,Homme,19387.0,0.284745
9,2020,Cadre,Femme,8625.0,Homme,20057.0,0.300711
10,2020,Exécution,Femme,1256.0,Homme,2227.0,0.360609
11,2020,Maîtrise,Femme,7429.0,Homme,19219.0,0.278783
12,2021,Cadre,Femme,8731.0,Homme,20173.0,0.302069
13,2021,Exécution,Femme,1132.0,Homme,2163.0,0.343551
14,2021,Maîtrise,Femme,7240.0,Homme,19126.0,0.274596
15,2022,Cadre,Femme,9003.0,Homme,20595.0,0.304176
16,2022,Exécution,Femme,1067.0,Homme,2223.0,0.324316
17,2022,Maîtrise,Femme,7173.0,Homme,19272.0,0.271242
18,2023,Cadre,Femme,9357.0,Homme,21273.0,0.305485
19,2023,Exécution,Femme,1068.0,Homme,2277.0,0.319283

In [94]:
effectif_total=effectif_total.rename(columns={"Nombre de salariés_x":"Nombre de salariés femme"})
effectif_total=effectif_total.rename(columns={"Nombre de salariés_y":"Nombre de salariés homme"})
effectif_total=effectif_total.drop(columns=["Genre_x", "Genre_y"])

In [95]:
effectif_total.head(30)

,Année,Collège,Nombre de salariés femme,Nombre de salariés homme,proportion de femmes
0,2017,Cadre,8406.0,20462.0,0.291187
1,2017,Exécution,1822.0,2811.0,0.393266
2,2017,Maîtrise,8444.0,20294.0,0.293827
3,2018,Cadre,8419.0,20166.0,0.294525
4,2018,Exécution,1630.0,2657.0,0.380219
5,2018,Maîtrise,8086.0,19840.0,0.289551
6,2019,Cadre,8486.0,19973.0,0.298183
7,2019,Exécution,1401.0,2407.0,0.367910
8,2019,Maîtrise,7718.0,19387.0,0.284745
9,2020,Cadre,8625.0,20057.0,0.300711
10,2020,Exécution,1256.0,2227.0,0.360609
11,2020,Maîtrise,7429.0,19219.0,0.278783
12,2021,Cadre,8731.0,20173.0,0.302069
13,2021,Exécution,1132.0,2163.0,0.343551
14,2021,Maîtrise,7240.0,19126.0,0.274596
15,2022,Cadre,9003.0,20595.0,0.304176
16,2022,Exécution,1067.0,2223.0,0.324316
17,2022,Maîtrise,7173.0,19272.0,0.271242
18,2023,Cadre,9357.0,21273.0,0.305485
19,2023,Exécution,1068.0,2277.0,0.319283
20,2023,Maîtrise,7237.0,19539.0,0.270279

In [96]:
prop_cadre=effectif_total[effectif_total["Collège"] == "Cadre"]
prop_execution=effectif_total[effectif_total["Collège"] == "Exécution"]
prop_maitrise=effectif_total[effectif_total["Collège"] == "Maîtrise"]

In [97]:
absence = pd.read_csv("data/absences.csv", delimiter=";")

In [98]:
absence["Indicateur"]=absence["Indicateur"].str.replace("Absence pour congé de maternité ou d'adoption","Absence pour congé de maternité")
absence["Indicateur"]=absence["Indicateur"].str.replace("Absence pour congé de paternité et d'accueil de l'enfant","Absence pour congé de paternité")
absence=absence[absence["Type de contrat"] == "Statutaires"]
absence=absence.drop(columns=["Perimètre juridique", "Perimètre spatial", "Spatial perimeter", "Indicator", "Type of contract", "Type de contrat",
                              "Employee category", "Genre", "Gender", "Unité", "Unit", "Chapitre du bilan social"])

In [99]:

absence_pat=absence[absence["Indicateur"] == "Absence pour congé de paternité"]
absence_mat=absence[absence["Indicateur"] == "Absence pour congé de maternité"]

In [100]:
absence_mat=pd.merge(absence_mat,effectif_total, on=["Année", "Collège"])[["Année", "Indicateur", "Collège", "Valeur", "Nombre de salariés femme"]]
absence_pat=pd.merge(absence_pat,effectif_total, on=["Année", "Collège"])[["Année", "Indicateur", "Collège", "Valeur", "Nombre de salariés homme"]]

In [101]:
absence_mat["Nombre d'heures moyen de congé maternité par salariée"]=absence_mat["Valeur"]/absence_mat["Nombre de salariés femme"]
absence_mat=absence_mat.drop(columns=["Indicateur", "Valeur", "Nombre de salariés femme"])
absence_pat["Nombre d'heures moyen de congé paternité par salarié"]=absence_pat["Valeur"]/absence_pat["Nombre de salariés homme"]
absence_pat=absence_pat.drop(columns=["Indicateur", "Valeur", "Nombre de salariés homme"])

In [102]:
absence_congé_matpat=pd.merge(absence_mat, absence_pat, on=["Année", "Collège"])

In [142]:
absence_congé_matpat["Ecart en pourcentage du temps d'absence pour congé maternité/paternité"]=absence_congé_matpat["Nombre d\'heures moyen de congé paternité par salarié"]/(absence_congé_matpat["Nombre d\'heures moyen de congé maternité par salariée"]+absence_congé_matpat["Nombre d\'heures moyen de congé paternité par salarié"])
absence_congé_matpat=absence_congé_matpat.round(2)

In [143]:
absence_congé_matpat

,Année,Collège,Nombre d'heures moyen de congé maternité par salariée,Nombre d'heures moyen de congé paternité par salarié,Ecart en pourcentage du temps d'absence pour congé maternité/paternité
0,2023,Cadre,31.04,4.97,0.14
1,2023,Maîtrise,22.06,6.29,0.22
2,2023,Exécution,26.01,7.89,0.23
3,2022,Cadre,34.57,5.40,0.14
4,2022,Exécution,29.88,6.45,0.18
5,2022,Maîtrise,24.61,6.95,0.22
6,2021,Exécution,39.17,5.39,0.12
7,2021,Cadre,34.76,4.38,0.11
8,2021,Maîtrise,28.26,4.91,0.15
9,2020,Cadre,39.14,3.03,0.07
10,2020,Maîtrise,26.77,3.12,0.10
11,2020,Exécution,35.20,3.90,0.10
12,2019,Maîtrise,28.47,3.33,0.10
13,2019,Exécution,39.54,4.03,0.09
14,2019,Cadre,41.90,2.93,0.07
15,2018,Exécution,45.88,3.32,0.07
16,2018,Maîtrise,27.30,3.36,0.11
17,2018,Cadre,42.51,2.81,0.06
18,2017,Maîtrise,28.21,3.25,0.10
19,2017,Cadre,40.31,2.87,0.07
20,2017,Exécution,58.68,3.92,0.06

In [137]:
absence_congé_matpat.to_csv("absence_conge_matpat.csv")

In [149]:
absence_congé_matpat = pd.DataFrame(absence_congé_matpat)

# Création du graphique
fig = go.Figure()

# Ajouter les traces pour Congés Maternité et Paternité
for collège in absence_congé_matpat['Collège'].unique():
    df_collège = absence_congé_matpat[absence_congé_matpat['Collège'] == collège]
    
    # Trace pour Congés Maternité
    fig.add_trace(go.Scatter(
        x=df_collège['Année'],
        y=df_collège["Nombre d\'heures moyen de congé maternité par salariée"],
        mode='lines+markers',
        name=f' ({collège})',
        hovertemplate="Nombre d\'heures moyen de congé maternité par salariée: %{y} heures<br>Écart: %{customdata[0]}%",
        customdata=df_collège[["Ecart en pourcentage du temps d'absence pour congé maternité/paternité"]].values  # Affichage de l'écart dans l'infobulle
    ))
    
    # Trace pour Congés Paternité
    fig.add_trace(go.Scatter(
        x=df_collège['Année'],
        y=df_collège["Nombre d\'heures moyen de congé paternité par salarié"],
        mode='lines+markers',
        name=f'Congés Paternité ({collège})',
        hovertemplate="Nombre d\'heures moyen de congé paternité par salarié: %{y} heures<br>Écart: %{customdata[0]}%",
        customdata=df_collège[["Ecart en pourcentage du temps d'absence pour congé maternité/paternité"]].values
    ))

# Ajouter un menu déroulant pour sélectionner le Collège
buttons = [
    {'label': collège, 'method': 'update', 'args': [{'visible': [collège == collège_name for collège_name in absence_congé_matpat['Collège'].unique()]*2},
                                                  {'title': f'Évolution des Congés Maternité/Paternité - {collège}'}]} 
    for collège in absence_congé_matpat['Collège'].unique()
]

fig.update_layout(
    title="Évolution des Congés Maternité et Paternité avec Écart en Infobulle",
    updatemenus=[{
        'buttons': buttons,
        'direction': 'down',
        'showactive': True,
        'active': 0,
        'x': 0.17,
        'xanchor': 'left',
        'y': 1.15,
        'yanchor': 'top'
    }],
    xaxis_title="Année",
    yaxis_title="Nombre d'heures de Congé",
)
fig.show()

In [105]:
tempspartiel = autrescdt[autrescdt["Indicateur"] == "Salariés à temps partiel en décembre"]
tempspartiel = tempspartiel[tempspartiel["Type de contrat"] == "Statutaires"]
tempspartiel = tempspartiel.drop(columns=["Perimètre juridique", "Perimètre spatial", "Spatial perimeter", "Indicator", "Type of contract", "Type de contrat",
                              "Employee category", "Gender", "Unité", "Unit", "Chapitre du bilan social", "Tranche horaire", "Time range"])
tempspartiel = tempspartiel.groupby(["Année", "Collège", "Genre"]).sum().reset_index().drop(columns=["Indicateur"])
tempspartiel["Collège"] = tempspartiel["Collège"].str.replace("Execution", "Exécution")
tempspartiel["Collège"] = tempspartiel["Collège"].str.replace("Maitrise", "Maîtrise")

In [106]:
tempspartiel_homme=tempspartiel[tempspartiel["Genre"] == "Homme"]
tempspartiel_femme=tempspartiel[tempspartiel["Genre"] == "Femme"]
tempspartiel_merge=pd.merge(tempspartiel_femme, tempspartiel_homme, on=["Année", "Collège"])

In [107]:
tempspartiel_merge = tempspartiel_merge.rename(columns={"Valeur_x":"Nombre de salariées femme en temps partiels","Valeur_y":"Nombre de salariés homme en temps partiels"})
tempspartiel_merge = tempspartiel_merge.drop(columns=["Genre_x", "Genre_y"])

In [118]:
temps_partiel=pd.merge(tempspartiel_merge, effectif_total, on=["Année", "Collège"])
temps_partiel["Proportion de femmes en temps partiels"]=100*temps_partiel["Nombre de salariées femme en temps partiels"]/temps_partiel["Nombre de salariés femme"]
temps_partiel["Proportion d'hommes en temps partiels"]=100*temps_partiel["Nombre de salariés homme en temps partiels"]/temps_partiel["Nombre de salariés homme"]

In [119]:
temps_partiel = temps_partiel.drop(columns = ["Nombre de salariées femme en temps partiels", "Nombre de salariés homme en temps partiels", "Nombre de salariés femme",
                             "Nombre de salariés homme"])

In [135]:
temps_partiel

,Année,Collège,proportion de femmes,Proportion de femmes en temps partiels,Proportion d'hommes en temps partiels,proportion d'hommes,Proportion d'hommes en temps complet,Proportion de femmes en temps complet
0,2017,Cadre,0.29,0.0202,0.0043,0.71,0.9957,0.9798
1,2017,Exécution,0.39,0.2947,0.0203,0.61,0.9797,0.7053
2,2017,Maîtrise,0.29,0.1296,0.0146,0.71,0.9854,0.8704
3,2018,Cadre,0.29,0.0201,0.0041,0.71,0.9959,0.9799
4,2018,Exécution,0.38,0.3221,0.0211,0.62,0.9789,0.6779
5,2018,Maîtrise,0.29,0.1325,0.0148,0.71,0.9852,0.8675
6,2019,Cadre,0.30,0.0202,0.0044,0.70,0.9956,0.9798
7,2019,Exécution,0.37,0.3369,0.0229,0.63,0.9771,0.6631
8,2019,Maîtrise,0.28,0.1355,0.0143,0.72,0.9857,0.8645
9,2020,Cadre,0.30,0.0196,0.0039,0.70,0.9961,0.9804
10,2020,Exécution,0.36,0.3225,0.0211,0.64,0.9789,0.6775
11,2020,Maîtrise,0.28,0.1292,0.0135,0.72,0.9865,0.8708
12,2021,Cadre,0.30,0.0179,0.0037,0.70,0.9963,0.9821
13,2021,Exécution,0.34,0.3048,0.0194,0.66,0.9806,0.6952
14,2021,Maîtrise,0.27,0.1198,0.0133,0.73,0.9867,0.8802
15,2022,Cadre,0.30,0.0189,0.0039,0.70,0.9961,0.9811
16,2022,Exécution,0.32,0.2755,0.0189,0.68,0.9811,0.7245
17,2022,Maîtrise,0.27,0.1146,0.0122,0.73,0.9878,0.8854
18,2023,Cadre,0.31,0.0175,0.0046,0.69,0.9954,0.9825
19,2023,Exécution,0.32,0.2406,0.0176,0.68,0.9824,0.7594
20,2023,Maîtrise,0.27,0.1134,0.0113,0.73,0.9887,0.8866

In [134]:
temps_partiel["Proportion de femmes en temps complet"]=1-temps_partiel["Proportion de femmes en temps partiels"]

In [136]:
temps_partiel.to_csv("temps_partiel.csv")

In [110]:
def temps_partiel_csp_annee(college, annee) :
    df = temps_partiel[(temps_partiel["Collège"] == college) & (temps_partiel["Année"] == annee)]
    df = df.drop(columns=["Année", "Collège"])
    df["Proportion de femmes en temps partiels"] = df["Proportion de femmes en temps partiels"]/100
    df["Proportion d'hommes en temps partiels"] = df["Proportion d'hommes en temps partiels"]/100
    return df

In [111]:
temps_partiel_csp_annee("Cadre", 2021)

,Proportion de femmes en temps partiels,Proportion d'hommes en temps partiels
12,0.017867,0.003718

In [112]:
def effectif_total_csp_annee(college, annee):
    df = effectif_total[(effectif_total["Collège"] == college) & (effectif_total["Année"] == annee)]
    df = df.drop(columns=["Année", "Collège", "Nombre de salariés femme", "Nombre de salariés homme"])
    df["proportion d'hommes"]=1-df["proportion de femmes"]
    return df

In [113]:
temps_partiel_csp_annee("Cadre", 2021)

,Proportion de femmes en temps partiels,Proportion d'hommes en temps partiels
12,0.017867,0.003718

In [114]:
def concat_csp_annee(college, annee) :  
    df = pd.concat([effectif_total_csp_annee(college, annee),temps_partiel_csp_annee(college, annee)], axis=1)
    df["Proportion d'hommes en temps complet"]= 1-df["Proportion d'hommes en temps partiels"]
    df["Proportion de femmes en temps complet"]= 1-df["Proportion de femmes en temps partiels"]
    fig = px.treemap(
    df,
    path=["Genre", "Statut"],  # Hiérarchie
    values="Proportion",  # Taille des blocs
    color="Genre",
    color_discrete_map={"Homme": "blue", "Femme": "pink"},
    title="Répartition des Hommes et Femmes selon le Temps Partiel/Complet"
)
fig.show()
    return(df)

IndentationError: unexpected indent (1212531545.py, line 14)

In [82]:
fig = px.treemap(
    df_long,
    path=["Genre", "Statut"],  # Hiérarchie
    values="Proportion",  # Taille des blocs
    color="Genre",
    color_discrete_map={"Homme": "blue", "Femme": "pink"},
    title="Répartition des Hommes et Femmes selon le Temps Partiel/Complet"
)

fig.show()

,proportion de femmes,proportion d'hommes,Proportion de femmes en temps partiels,Proportion d'hommes en temps partiels,Proportion d'hommes en temps complet,Proportion de femmes en temps complet
12,0.302069,0.697931,0.017867,0.003718,0.996282,0.982133

In [34]:

def plot_mosaic(annee, college):
    df_filtered = temps_partiel[(temps_partiel["Année"] == annee) & (temps_partiel["Collège"] == college)]
    fig = px.treemap(
        df_filtered,
        path=["Genre"],
        values="Proportion de femmes en temps partiels",
        color="Genre",
        color_discrete_map={"Homme": "blue", "Femme": "pink"},
        title=f"Taux de Temps Partiel par Genre et CSP en {annee}"
    )

    fig.show()

In [35]:
plot_mosaic(2021, 'Cadre')

ValueError: Value of 'values' is not the name of a column in 'data_frame'. Expected one of ['Année', 'Collège', 'Proportion de femmes en temps partiels', "Proportion d'hommes en temps partiels"] but received: Taux_Temps_Partiel